{
  "web": {
    "client_id": "OH",
    "project_id": "LIKE",
    "auth_uri": "COME",
    "token_uri": "ON",
    "auth_provider_x509_cert_url": "GET",
    "client_secret": "YOUR",
    "redirect_uris": [
      "OWN"
    ],
    "javascript_origins": [
      "CREDENTIAL"
    ]
  }
}
